<br />
<h2>Buy Now and Pay Later with FuturePay</h1><br />

<div>Buy Now and Pay Later without a credit card using FuturePay.  It is secure, convenient and easy to use.  Signup and checkout in seconds.</div><br />

<div style="height:50px;margin-right:20px;float:left;" class="align-left"><%= image_tag "spree/futurepay/nocc.png" %></div><div style="height:50px;">No credit card required</div><br />
<div style="height:50px;margin-right:20px;float:left;" class="align-left"><%= image_tag "spree/futurepay/lock.png" %></div><div style="height:50px;" >Safe and Secure: Your information is always protected by the latest fraud prevention and security tools.</div><br />
<div style="height:50px;margin-right:20px;float:left;" class="align-left"><%= image_tag "spree/futurepay/nop.png" %></div><div style="height:50px;" >No high finance charges: Say goodbye to high APR interest and financing charges</div>
